USE [venta_sales]
GO
/****** Objeto: Table [dbo].[clientes] Fecha de script: 21/07/2026 07:29:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[customer_id] [int] NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL,
	[segment] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NULL,
	[signup_date] [date] NULL,
 CONSTRAINT [PK_clientes] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[fact_ventas] Fecha de script: 21/07/2026 07:29:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_ventas](
	[sale_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
	[discount] [decimal](10, 2) NOT NULL,
	[channel] [nvarchar](50) NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[country] [nvarchar](50) NOT NULL,
	[fecha_venta] [date] NULL,
 CONSTRAINT [PK_fact_ventas] PRIMARY KEY CLUSTERED 
(
	[sale_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[productos] Fecha de script: 21/07/2026 07:29:46 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[product_id] [int] NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[category] [nvarchar](50) NOT NULL,
	[unit_cost] [decimal](10, 2) NOT NULL,
	[list_price] [decimal](10, 2) NOT NULL,
	[active] [nvarchar](50) NOT NULL,
	[revision] [nvarchar](50) NOT NULL,
	[cuentas] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_productos] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
